@{
    ViewData["Title"] = "Home Page";
}

<div id="MainContainer" class="container MainContainerClass"></div>


<div id="ButtonContainer">

    <button id="TheButton" class="Buttons">Log In</button>

    <button id="TheButton2" class="Buttons">Sing Up</button>

</div>
<div id="FooterContainer">
</div>

<div id="Footer2Container">

</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-QueryBuilder/2.6.0/js/query-builder.min.js" integrity="sha512-2M/fKMdU0EOCkPOmg9c6dKohNe/M3abJjJIoSIYlC1tghVG4LZEGiHeO36dnSi4W/iYsriK5xMQIIqYXbwvmtw==" crossorigin="anonymous"></script>
    <script src="~/js/Index.js" type="text/javascript"></script>

    @section Scripts {
        <script src="~/js/Index.js"></script>
    }
